/* 전체 UI 영역 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  max-width: 100%;
  background-image: url('../styles/library.jpg');
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 24px;
}

section {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2, h3, p {
  color: #107896;
}

/* 입력란 */
input {
  padding: 5px;
  width: 400px;
  height: 20px;
  border-radius: 0.5rem;
}

.wrapperAnswer {
  max-width: 800px;
}

/* 전송 버튼 */
#questionnaire {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.submitSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  /* margin-left: 48px; */
}

#submitBtn {
  margin-top: 115px;
  padding: 10px 40px;
  height: 100px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  border-radius: 1rem;
  font-family: 'Nanum Pen Script', cursive;
}

#submitBtn:hover {
  background-color: #0056b3;
}

#buttonMessage {
  color: red;
}

/* 답변 영역 */
li.question {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #FFD700;
}

li.question span:first-child {
  color: #fff;
}

li.question::marker {
  color: #fff;
}

li.answer {
  margin-top: 10px;
  color: #fff;
}

/* header & footer */
header {
  background-color: #171717;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  border-radius: 1rem;
}

footer {
  background-color: #171717;
  width: 100%;
  height: 100vh;
  color: #fff; 
  text-align: center;
  border-radius: 1rem;
}


/* 생성 후, 답변에 대한 결과 복사 버튼 */
button.copyButton {
    /* 버튼에 대한 스타일을 정의 */
    font-family: 'Nanum Pen Script', cursive;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 2rem;
    cursor: pointer;
  }
  
button.copyButton:hover {
  /* 버튼에 대한 호버 효과 스타일을 정의 */
  background-color: #0056b3;
}

#copyButton2 {
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}  

#copyButton2:hover {
  background-color: #0056b3;
}

header a {
  text-decoration: none;
  color: inherit;
}

header p {
  color: #fff;
  text-align: center;
}

button.resetButton {
  /* 버튼에 대한 스타일을 정의 */
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
}

button.resetButton:hover {
/* 버튼에 대한 호버 효과 스타일을 정의 */
background-color: #0056b3;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.fadeIn {
  opacity: 1;
}

#loadingSvg {
  display: none;
}

#login-form, #signup-form {
  display: none;
}